---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "首页1";
import Greeting from '../components/Greeting';

---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- client:load 指令告诉 Astro 在页面加载时将其 JavaScript 发送并重新运行到客户端上，使组件可交互。这称为 被 Hydrate 的 组件。 -->
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />

</BaseLayout>