---
---

<main class="com-main">
<slot/>
</main>

<style>
    .com-main {
        height: auto;
        width: 900px;
        /* background: goldenrod; */
        margin: 0 auto;
        padding-top: 30px;
    }
</style>